<body>

  <div class="page-heading header-text">

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{dataDetalle?.ciudad}}</h3>
          <p style="color:white;">{{dataDetalle?.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section ">
    <div class="container">
      <div class="row box-shadow2 p-5 rounded">
        <div class="col-lg-6 ">
          <div class="left-image ">
            <img class="box-shadow1" [src]="dataDetalle?.img_url" alt="error">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{dataDetalle?.ciudad}} </h4>
          <span style="color: #00000093;font-size: 1.1rem;">{{dataDetalle?.provincia}}</span>
          <p style="font-size: 1.2rem;">{{dataDetalle?.descripcion}}</p>
          <div class="navigation-buttons">
            <a [routerLink]="['info', destinoId]" routerLinkActive="active" class="btn btn-primary">
              <i class="fa fa-info-circle"></i> Info
            </a>
            <a [routerLink]="['route', destinoId]" routerLinkActive="active" class="btn btn-primary">
              <i class="fa fa-map"></i> Ruta
            </a>
            <a [routerLink]="['gallery', destinoId]" routerLinkActive="active" class="btn btn-primary">
              <i class="fa fa-image"></i> Galería
            </a>
            <a [routerLink]="['rating', destinoId]" routerLinkActive="active" class="btn btn-primary">
              <i class="fa fa-star"></i> Rating
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="content-section mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>




</body>
