
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a [routerLink]="['/home']" class="logo">
              <img src="assets/images/logo.png" alt="" style="width: 158px;">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
              <li><a [routerLink]="['/destinos']" routerLinkActive="active">Destinos</a></li>
              <li><a [routerLink]="['/experiencias']" routerLinkActive="active">Experiencias</a></li>
              <li><a [routerLink]="['/contacto']" routerLinkActive="active">Contáctanos</a></li>
              <li><a [routerLink]="['/about']" routerLinkActive="active">Sobre Nosotros</a></li>
            </ul>
            <a class='menu-trigger' (click)="toggleMenu()">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
