<div class="container">
  <div class="gallery-header">
    <h1>Galería de Imágenes</h1>
    <div class="category-filters">
      <button
        *ngFor="let category of categories"
        [class.active]="selectedCategory === category.id"
        (click)="filterImagesByCategory(category.id)"
        class="category-btn">
        {{category.nombre}}
      </button>
    </div>
  </div>

  <div class="gallery-grid">
    <div class="gallery-item" *ngFor="let image of getFilteredImages()">
      <div class="image-container">
        <img [src]="image.url" [alt]="image.descripcion" loading="lazy">
        <div class="image-overlay">
          <div class="image-info">
            <h3 style="color: rgb(121, 121, 121);" >{{image.descripcion}}</h3>
            <p style="color: rgb(121, 121, 121);">{{image.descripcion}}</p>
            <span class="category-tag">{{image.categoria.nombre}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="getFilteredImages().length === 0" class="no-results">
    <p>No se encontraron imágenes para esta categoría</p>
  </div>
</div>
