<div id="container">

	<div class="product-details">

	<h1>Punta cana</h1>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
	</span>

			<p class="information">Destino de ensueño famoso por sus playas de arena blanca bordeadas de palmeras y sus aguas turquesas y cálidas. </p>



<div class="control">

	<button class="btn">
	 <span class="price"><i class="fa fa-solid fa-map"></i></span>
   <span class="shopping-cart"><i class="fa fa-solid fa-eye" aria-hidden="true"></i></span>
   <span class="buy">ver</span>
 </button>

</div>

</div>

<div class="product-image">

	<img src="https://thumbs.dreamstime.com/b/tropical-paradise-sand-beach-caribbean-saona-island-punta-cana-dominican-republic-266269519.jpg" alt="">


<div class="info p-2">
	<h2> Description</h2>
	<ul>
		<li>Playas Paradisíacas</li>
		<li>Destino "Todo Incluido"</li>
		<li>Actividades y Entretenimiento Variado</li>
		<li>Accesibilidad y Conectividad</li>

	</ul>
</div>
</div>

</div>

<style>
  .info {
      cursor: pointer !important;
  }
  li {
  list-style-type: circle !important;

  font-size: 16px !important;
  font-weight: 500 !important;
  margin-bottom: 10px !important;
  margin-left: 20px !important;
  padding-left: 10px !important;
  text-align: left !important;
  text-decoration: none !important;
  transition: color 0.3s ease !important;


}
</style>
