


  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="caption header-text">
            <h6>Turismo en la palma de tu mano</h6>
            <h2>Mejor pagina de turismo</h2>
            <p>Aqui podras encontrar todo lo que necesitas para encontrar tu proxima aventura en republica dominicana.
            </p>
            <div class="search-input">
              <form id="search" ubicacion="#">
                <input type="text" placeholder="Buscar lugares" id='searchText' name="searchKeyword"
                  onkeypress="handle" />
                <button class="search-btn" role="button">
                  <div class="search-btn-icon"></div>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-2">
          <div style="border: #ee626b solid 8px; border-radius: 35px;" class="right-image">
            <img class="main-banner-image" src="https://iili.io/3m6GHoN.png" alt="error al cargar la imagen">

            <span class="offer"> <img src="https://cdn-icons-png.flaticon.com/512/5086/5086786.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-4 col-md-6 p-2">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="https://img.icons8.com/?size=100&id=52196&format=png&color=000000" alt=""
                  style="max-width: 44px;">
              </div>
              <h4>Recientes</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 p-2">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="https://img.icons8.com/?size=100&id=la2S0ys9gplw&format=png&color=000000" alt=""
                  style="max-width: 44px;">
              </div>
              <h4>Populares</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="https://img.icons8.com/?size=100&id=lhrKPeMFIFdF&format=png&color=000000" alt=""
                  style="max-width: 44px;">
              </div>
              <h4>Tendencia</h4>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>


  <div class="container p-4 mt-5 ">
    <div class="row box-shadow2">
      <div class="col-lg-12 box-shadow1 rounded ">
        <div class="container ">
          <div>

            <h3 class="places-header text-center mt-5 p-3 ">Recientes</h3>
          </div>


        </div>

      </div>

      <div class="col-lg-12">

        <!-- card 1 -->
        <app-card-destination />
        <app-card-destination />
        <app-card-destination />
        <app-card-destination />



      </div>


    </div>
  </div>












<style>
  .main-banner {
    margin: 10px;
    border-radius: 10px;
  }


  .search-btn-icon {
    background-image: url(../../../../../assets/icons/icons8-search-384.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

  }

  .search-btn:hover {
    background-color: #7cb1f6 !important;
    cursor: pointer;


  }

  .places-header {

    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #333;

    margin-bottom: 20px;



  }
</style>
