<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="assets/images/logo.png" alt="" style="width: 158px;">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="index.html" class="active">Inicio</a></li>
              <li><a href="shop.html">Tendencia</a></li>
              <li><a href="product-details.html">Populares</a></li>
              <li><a href="contact.html">Contactanos</a></li>
              <li><a href="#">Sobre nosotros</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="caption header-text">
            <h6>Turismo en la palma de tu mano</h6>
            <h2>Mejor pagina de turismo</h2>
            <p>Aqui podras encontrar todo lo que necesitas para encontrar tu proxima aventura en republica dominicana.
            </p>
            <div class="search-input">
              <form id="search" ubicacion="#">
                <input type="text" placeholder="Buscar lugares" id='searchText' name="searchKeyword"
                  onkeypress="handle" />
                <button class="search-btn" role="button">
                  <div class="search-btn-icon"></div>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-2">
          <div style="border: #ee626b solid 8px; border-radius: 35px;" class="right-image">
            <img class="main-banner-image" src="https://iili.io/3m6GHoN.png" alt="error al cargar la imagen">

            <span class="offer"> <img src="https://cdn-icons-png.flaticon.com/512/5086/5086786.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="features">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-4 col-md-6 p-2">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="https://img.icons8.com/?size=100&id=52196&format=png&color=000000" alt=""
                  style="max-width: 44px;">
              </div>
              <h4>Recientes</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 p-2">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="https://img.icons8.com/?size=100&id=la2S0ys9gplw&format=png&color=000000" alt=""
                  style="max-width: 44px;">
              </div>
              <h4>Populares</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="https://img.icons8.com/?size=100&id=lhrKPeMFIFdF&format=png&color=000000" alt=""
                  style="max-width: 44px;">
              </div>
              <h4>Tendencia</h4>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>


  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="container d-flex justify-content-center align-items-center flex-column">
          <div >

            <h3 class="places-header text-center mt-5 p-3 ">Recientes</h3>
          </div>


        </div>

      </div>

      <div class="col-lg-12">

        <!-- card 1 -->
        <app-card-destination/>
        <app-card-destination/>
        <app-card-destination/>
        <app-card-destination/>



      </div>


    </div>
  </div>


  <div class="section most-played">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>TOP PLACES</h6>
            <h2>Lugares trending</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="shop.html">View All</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/top-game-01.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Punta Cana</h4>
              <a href="product-details.html">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/top-game-02.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Punta Cana</h4>
              <a href="product-details.html">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/top-game-03.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Punta Cana</h4>
              <a href="product-details.html">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/top-game-04.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Punta Cana</h4>
              <a href="product-details.html">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/top-game-05.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Punta Cana</h4>
              <a href="product-details.html">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/top-game-06.jpg" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">Adventure</span>
              <h4>Punta Cana</h4>
              <a href="product-details.html">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Categories</h6>
            <h2>Top Categories</h2>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>ubicacion</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-01.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>ubicacion</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-05.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>ubicacion</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-03.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>ubicacion</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-04.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>ubicacion</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/categories-05.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="shop">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Our Shop</h6>
                  <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                </div>
                <p>Lorem ipsum dolor consectetur adipiscing, sed do eiusmod tempor incididunt.</p>
                <div class="main-button">
                  <a href="shop.html">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-2 align-self-end">
          <div class="subscribe">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>NEWSLETTER</h6>
                  <h2>Get Up To $100 Off Just Buy <em>Subscribe</em> Newsletter!</h2>
                </div>
                <div class="search-input">
                  <form id="subscribe" ubicacion="#">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      placeholder="Your email...">
                    <button type="submit">Subscribe Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</body>


<style>
  .main-banner {
    margin: 10px;
    border-radius: 10px;
  }


  .search-btn-icon {
    background-image: url(../../../../../assets/icons/icons8-search-384.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

  }

  .search-btn:hover {
    background-color: #7cb1f6 !important;
    cursor: pointer;


  }

  .places-header {
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    /* box shadow and border */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

  }
</style>
